body {
    font-family: 'Segoe UI';
}

@media (prefers-color-scheme: light) {
    .fluent-textbox {
        background-color: white;
        border-radius: 5px;
        border: 1px solid #e5e5e5;
        color: black;
    }

    #dialog-box {
        background-color: #f3f3f3;
    }
}

@media (prefers-color-scheme: dark) {
    .fluent-textbox {
        background-color: #2d2d2d;
        border-radius: 5px;
        border: 1px solid #9a9a9a;
        color: white;
    }

    #dialog-box {
        background-color: #181818;
    }
}

#dialogContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#dialog-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #9a9a9a;
}

.fluent-Button {
    background-color: #62cdfe;
    border-radius: 5px;
    border: none;
    width: 100%;
    display: inline-block;
    cursor: default;
    color: black;
    font-size: 13px;
    padding: 7px;
    text-decoration: none;
}

.fluent-Button:hover {
    background-color: #47b1e8;
}

.fluent-Button:active {
    background-color: #42a1d2;
    color: #245874;
}

.fluent-textbox {
    width: 100%;
    height: 25px;
    border-radius: 5px;
}